:root {
  --fontSize : 15px;
  --desaturatedDarkCyan : hsl(180, 29%, 50%);
  --lightGrayishCyan : hsl(180, 52%, 96%);
  --lightGrayishCyan2 : hsl(180, 31%, 95%);
  --darkGrayishCyan : hsl(180, 8%, 52%);
  --veryDarkGrayishCyan : hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

